@import "./components/work.scss";
@import "./components/particle.scss";
@import "./components/properties.scss";

.reveal .emojicon {
	font-family: sans-serif;
	text-shadow: none;
}

.animated-gradient {
	background: linear-gradient(135deg, #2980b9 0%,#9B59B6 100%);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.reveal pre {
	box-shadow: none;
	// font-size: .4em;
}
.reveal {
	.stack {
		position: relative;
		min-height: 400px;
	}
	.stack__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.js-random-anim span {
	display: inline-block;
	// opacity: 0;
}
body {
	background: linear-gradient(135deg, #2980b9 0%,#9B59B6 100%)
}