.reveal {
	section.work {
		// left: 30%;
		svg {
			width: 100%;
			position: absolute;
			bottom: -100%;
			right: -10%;
		}
		.isl-arrow__arrow {
			stroke-dasharray: 1600px;
			stroke-dashoffset: 1600px;
			transition: all 2.4s;
			&.draw-arrow {
				stroke-dashoffset: 0;
				transition: all 2.4s;
			}
		}
	}
}